<ngb-tabset #t="ngbTabset" (tabChange)="tabChanged($event)">
  <ngb-tab id="newTab" title="New">
    <ng-template ngbTabContent>
      <ng-container *ngTemplateOutlet="newTabsTemplate; context: { $implicit: newTabs }"></ng-container>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="ongoingTab" title="Ongoing">
    <ng-template ngbTabContent>
      <ng-container *ngTemplateOutlet="displayTabsTemplate; context: { $implicit: ongoingTabs }"></ng-container>
      <button *ngIf="ongoingTabs.length" type="button" class="btn btn-lg btn-primary btn-block" (click)="abortOngoing()">Clear</button>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="historyTab" title="History">
    <ng-template ngbTabContent>
      <ng-container *ngTemplateOutlet="displayTabsTemplate; context: { $implicit: completedTabs }"></ng-container>
      <button *ngIf="completedTabs.length" type="button" class="btn btn-lg btn-primary btn-block" (click)="clearHistory()">Clear</button>
    </ng-template>
  </ngb-tab>
  <ngb-tab id="settingsTab" title="Settings">
    <ng-template ngbTabContent>
      <app-settings></app-settings>
    </ng-template>
  </ngb-tab>
</ngb-tabset>

<ng-template #newTabsTemplate let-tabs>
  <form (ngSubmit)="downloadSelected(f)" #f="ngForm">
    <div class="btn-group-vertical btn-group-toggle w-100 mb-3">
      <label *ngFor="let tab of tabs; let i = index" class="list-group-item text-left w-100 btn-outline-primary" ngbButtonLabel>
        <input type="checkbox" ngbButton name="tabs-{{ tab.id }}" [disabled]="!tab.images || tab.images.length === 0" [(ngModel)]="tab.selected" />
        <h6 class="text-truncate" [ngbTooltip]="tab.title" [openDelay]="700" container="body">{{ i + 1 }}. {{ tab.title }}</h6>
        <small class="d-block text-truncate"
          ><a [href]="tab.url" target="_blank">{{ tab.url }}</a>
        </small>
        <small *ngIf="tab.images">Found {{ tab.images.length }} images</small>
        <small *ngIf="!tab.images">Computing...</small>
      </label>
    </div>
    <div class="form-row mb-3">
      <div class="col">
        <button type="button" class="btn btn-lg btn-secondary btn-block" (click)="refreshNew()">Refresh</button>
      </div>
    </div>
    <div class="form-row mb-3" *ngIf="filterSelected(tabs).length">
      <div class="col">
        <button type="button" class="btn btn-lg btn-danger btn-block" (click)="reloadSelected()">Reload</button>
      </div>
      <div class="col">
        <button type="submit" class="btn btn-lg btn-primary btn-block">Download</button>
      </div>
    </div>
  </form>
</ng-template>

<ng-template #displayTabsTemplate let-tabs>
  <ngb-accordion #acc="ngbAccordion" [closeOthers]="true">
    <ngb-panel id="ngb-panel-{{ i + 1 }}" *ngFor="let tab of tabs; let i = index">
      <ng-template ngbPanelHeader>
        <label class="text-left w-100">
          <div class="d-flex justify-content-between">
            <h6 class="text-truncate m-0" [ngbTooltip]="tab.title" [openDelay]="700" container="body">{{ tab.id }}. {{ tab.title }}</h6>
            <button ngbPanelToggle class="btn btn-link btn-sm p-0 text-sm"><i class="bi bi-chevron-expand"></i></button>
          </div>
          <a class="d-block text-truncate" [href]="tab.url" target="_blank"><small [ngbTooltip]="tab.url" [openDelay]="700" container="body">{{ tab.url }}</small></a>
          <ngb-progressbar
            *ngIf="tab.progress"
            [type]="filterError(tab.images).length ? 'danger' : filterQueued(tab.images).length ? 'warning' : 'success'"
            [value]="((filterDownloaded(tab.images).length) * 100) / tab.progress.total"
            [striped]="true"
            [animated]="tab.progress.loaded != tab.progress.total"
            >{{ filterDownloaded(tab.images).length }}/{{ tab.progress.total }}
          </ngb-progressbar>
          <ngb-progressbar *ngIf="!tab.progress" type="secondary" [value]="100" [striped]="true" [animated]="true">Queue</ngb-progressbar>
        </label>
      </ng-template>
      <ng-template ngbPanelContent>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" *ngIf="tab.message"><div class="alert alert-warning"><small>{{ tab.message }}</small></div></li>
          <li class="list-group-item" *ngFor="let image of tab.images">
            <div class="d-flex justify-content-between">
              <small class="text-truncate" [ngbTooltip]="image.name" [openDelay]="700" container="body">{{ image.name }}</small>
              <small [ngClass]="image.status == 0 ? 'text-info' : image.status == 1 ? 'text-warning' : image.status == 2 ? 'text-success' : image.status == 3 ? 'text-danger' : ''">
                {{ image.status == 0 ? 'New' : image.status == 1 ? 'Queued' : image.status == 2 ? 'Downloaded' : image.status == 3 ? 'Failed' : '' }}
              </small>
            </div>
            <div class="d-flex flex-nowrap justify-content-between align-items-center">
              <a class="text-truncate" [href]="image.src" target="_blank" [ngbTooltip]="image.src" [openDelay]="700" container="body"><small>{{ image.src }}</small></a>
              <button class="btn btn-link btn-sm" (click)="downloadUrl(tab, image)"><i class="bi bi-download"></i></button>
            </div>
          </li>
        </ul>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>
</ng-template>
