<div class="container">
  <form>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name="imgExt" id="imgExt" placeholder="List of comma separated extensions to download">
      </div>
    </div>
    <div class="form-check form-check-inline row">
      <label class="form-check-label">
        <input class="form-check-input" type="checkbox" name="doCloseAfter" id="doCloseAfter" value="checkedValue"> Close tab after download
      </label>
    </div>
    <div class="row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Action</button>
      </div>
    </div>
  </form>
</div>